@import "../../node_modules/bulma/bulma.sass";

$title-fonts: 'Fira Code', monospace;
$font-stack: 'Libre Franklin', sans-serif;
$winner-green: rgb(199, 255, 191);
$second-yellow: rgb(254, 255, 191);
$border-blue: #2051FF;
$body-black: #363636;
$body-red: #E02828;
$grid-border: #D1D1D1;

body {
    font: 100% $font-stack;
    color: $body-black;
    line-height: 140%;
}

.introduction {
    padding: 36px 0px 32px 0px;
    border: solid $border-blue;
    border-width: 16px 12px 24px 12px;
}
.introduction h1 {
    padding: 0px 32px 0px 32px;
}
.introduction h2 {
    border-top: 4px solid $border-blue;
    border-bottom: 4px solid $border-blue;
    width: 100%;
    font-size: 22px;
    padding: 12px 8px 12px 8px;
}
.introduction div {
    padding: 0px 16px 0px 16px;
}
.introduction div p {
    margin-bottom: 0px;
}
.instructions {
    padding-top: 1.5em;
    color: $body-red;
}
.instructions p:not(:last-child) {
    margin-bottom: 1em;
}

h1, h2, h3 {
    font-family: $title-fonts;
}

h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 55px;
    margin-top: -20px;
    margin-bottom: 20px;
}

h2 {
    @extend .subtitle;
    @extend .is-3;
    width: 100%;
}

h3 {
    @extend .subtitle;
    @extend .is-4;
}

section {
    @extend .section;
    @extend .container;
    max-width: 40em;
    padding-top: 1em;
}

h2 a {
    display: block;
    width: 100%;
}
h2 span {
    color: $body-black;
}
h2 span::before {
    content: '<';
}
h2 span::after {
    content: '>';
}

h2 a::after {
    content: '▶ TWITTER';
    font-size: 45%;
    text-align: right;
    float: right;
    margin-top: 12px;
}

code {
    background-color: inherit;
    color: $body-red;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    padding: inherit;
}

code::before {
    content: '<';
}
code::after {
    content: '>';
}
code.attr::before {
    content: ''
}
code.attr::after {
    content: '='
}

div p {
    margin-bottom: 1em;
}

#title b::before {
    content: '<';
}
#title b::after {
    content: '>';
}

.taglist {
    font-size: 70%;
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    grid-gap: 0px;
}

.taglist.big {
    font: 100%;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    margin-left: 15%;
    margin-right: 15%;
}

.taglist dl {
    border: solid $grid-border;
    border-width: 0px 1px 1px 1px;
    padding: 2px 6px 6px 6px;
}
.taglist label:nth-child(2) dl {
    border-top-width: 1px;
}
.taglist label:nth-child(4) dl {
    border-top-width: 1px;
}
.taglist label:nth-child(6) dl {
    border-top-width: 1px;
}
.taglist label:nth-child(3n) dl {
    border-left: 0px;
}
.taglist label:nth-child(3n+1) dl {
    border-left: 0px;
}

.taglist dt {
    text-transform: uppercase;
    color: $body-black;
    font-size: 90%;
    font-weight: 600;
}
.taglist dt::after {
    content: '%';
    text-decoration: underline;
    float: right;
}

.taglist dd {
    justify-self: center;
}

.taglist dd code {
    color: $body-black;
    background-color: inherit;
}

.taglist dd.first code {
    background-color: $winner-green;
    padding: 1px 2px;
}
.taglist dd.first code::after {
    content: '>⭐️';
    background-color: $winner-green;
}
.taglist dd.second code {
    background-color: $second-yellow;
}

.taglist input[type=checkbox] {
    display: none;
}

.taglist input + label dd .bar {
    display: none;
}

.taglist input + label dd data {
    display: none;
}

.taglist input:checked + label dd {
    display: flex;
    flex-direction: row;
}

.taglist input:checked + label dd code {
    display: none;
}

.taglist input:checked + label dd span {
    display: block;
    background-color: #ccc;
    height: 12px;
    margin-top: 6px;
    border: 1px solid #ccc;
}

.taglist input:checked + label dd.first span {
    background-color: $winner-green;
}

.taglist input:checked + label dd.second span {
    background-color: $second-yellow;
}

.taglist input:checked + label dd data {
    display: block;
    float: left;
    padding: 0px;
    padding-left: 2px;
    font-size: 90%;
}
.taglist input:checked + label dd data::after {
    content: '%'
}

.commentary h2 {
    margin-top: 1em;
    font-size: 140%;
}

.commentary h2::before {
    font-family: monospace;
    content: '<!-- ';
}
.commentary h2::after {
    font-family: monospace;
    content: ' -->';
}

.commentary ul {
    margin-bottom: 1.5em;
}
.commentary h3 {
    border-style: dashed;
    border-width: 1px 0px 0px 0px;
    padding-top: 1em;
    font-size: 115%;
}
.commentary h3:not(:last-child) {
    margin-bottom: 0.5em;
}

.commentary details summary {
    margin-bottom: 0.3em;
}

.actual-list {
    list-style: disc;
    list-style-position: inside;
}
.actual-list li:not(:last-child) {
    margin-bottom: 0.2em;
}

.final4 code {
    display: inline-block;
}

.final4 .first code {
    background-color: $winner-green;
    width: 82%;
}
.final4 .second code {
    background-color: $winner-green;
    width: 52%;
}
.final4 .third code {
    width: 40%;
}
.final4 .fourth code {
    width: 26%;
}

.championship code {
    display: inline-block;
}

.championship .first code {
    background-color: $winner-green;
    width: 78%;
}
.championship .second code {
    background-color: $second-yellow;
    width: 29%;
}

/*
@include tablet {
    .taglist {
        grid-template-columns: repeat(8, minmax(100px, 1fr));
    }
}
*/

hr {
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: 1em;
    font-weight: bold;
    font-size: 200%;
    background-color: transparent;
    transform: rotate(90deg);
    color: #000;
}

hr::after {
    content: '>';
}

footer {
    text-align: center;
    margin-bottom: 1em;
}
