@import "../../node_modules/bulma/bulma.sass";

$title-fonts: 'Fira Code', monospace;
$font-stack: 'Libre Franklin', sans-serif;
$winner-green: rgb(199, 255, 191);
$second-yellow: rgb(254, 255, 191);
$border-blue: #2051FF;
$body-black: #363636;
$body-red: #E02828;
$grid-border: #D1D1D1;
$graph-grey: #ddd;
$open-grey: #EEEEEE;

// Disable the widescreen breakpoint
$widescreen-enabled: false;

// Disable the fullhd breakpoint
$fullhd-enabled: false;

body {
    font: 100% $font-stack;
    color: $body-black;
    line-height: 140%;
}
a {
    color: $body-black;
    text-decoration: underline;
}

.introduction {
    padding: 36px 0px 32px 0px;
    border: solid $border-blue;
    border-width: 16px 12px 24px 12px;
}
.introduction h1 {
    padding: 0px 32px 0px 32px;
    color: $border-blue;
}
.introduction h2 {
    border-top: 4px solid $border-blue;
    border-bottom: 4px solid $border-blue;
    width: 100%;
    font-size: 20px;
    padding: 12px 8px 12px 36px;
    color: $border-blue;
}
.introduction div {
    padding: 0px 16px 0px 16px;
}
.introduction div p {
    margin-bottom: 0px;
}
.instructions {
    padding-top: 1.5em;
    color: $body-red;
}
.instructions p:not(:last-child) {
    margin-bottom: 1em;
}

h1, h2, h3 {
    font-family: $title-fonts;
}

h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 55px;
    margin-top: -20px;
    margin-bottom: 20px;
}

h2 {
    @extend .subtitle;
    width: 100%;
    font-size: 170%;
}

h3 {
    @extend .subtitle;
    @extend .is-4;
}

section {
    @extend .section;
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
    padding-top: 1em;
}
@include tablet {
    section.is-max-desktop {
        max-width: 40em;
    }
}

h2 a {
    display: block;
    width: 100%;
    text-decoration: none;
}
h2 span {
    color: $body-black;
}
h2 span::before {
    content: '<';
}
h2 span::after {
    content: '>';
}

h2 a::after {
    content: 'TWITTER';
    font-size: 45%;
    text-align: right;
    float: right;
    padding-left: 23px;
    margin-top: 12px;
    text-decoration: underline;
    background-image: url(/images/icon-link-black.svg);
    background-repeat: no-repeat;
    background-position-y: 3px;
}

code {
    background-color: inherit;
    color: $body-red;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    padding: 0px;
}

code::before {
    content: '<';
}
code::after {
    content: '>';
}
code.attr::before {
    content: ''
}
code.attr::after {
    content: '='
}

div p {
    margin-bottom: 1em;
}

#title b::before {
    content: '<';
}
#title b::after {
    content: '>';
}

.taglist {
    font-size: 70%;
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    grid-gap: 0px;
}

.taglist.big {
    font-size: 100%;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    margin-left: 15%;
    margin-right: 15%;
}

.taglist dl {
    height: 100%;
    border: solid $grid-border;
    border-width: 0px 1px 1px 1px;
    padding: 2px 6px 6px 6px;
}
.taglist.small label:nth-child(2) dl {
    border-top-width: 1px;
}
.taglist.small label:nth-child(4) dl {
    border-top-width: 1px;
}
.taglist.small label:nth-child(6) dl {
    border-top-width: 1px;
}
.taglist.small label:nth-child(3n) dl {
    border-left: 0px;
}
.taglist.small label:nth-child(3n+1) dl {
    border-left: 0px;
}
.taglist.big label:nth-child(2) dl, .taglist.big label:nth-child(4) dl {
    border-top: 1px solid $grid-border;
}
.taglist.big label:nth-child(2) dl {
    border-right: 0px;
}
.taglist.big label:nth-child(6) dl {
    border-right: 0px;
}
.taglist dt {
    text-transform: uppercase;
    color: $body-black;
    font-size: 90%;
    font-weight: 600;
}
.taglist dt::after {
    content: '%';
    text-decoration: underline;
    float: right;
}

.taglist dd {
    justify-self: center;
}

.taglist dd code {
    color: $body-black;
    background-color: inherit;
}

.taglist dd.first code {
    background-color: $winner-green;
    padding: 1px 2px;
}
.taglist dd.first code::after {
    content: '>⭐️';
    background-color: $winner-green;
}
.taglist dd.second code {
    background-color: $second-yellow;
}

.taglist input[type=checkbox] {
    display: none;
}

.taglist input + label dd .bar {
    display: none;
}

.taglist input + label dd data {
    display: none;
}

.taglist input:checked + label dd {
    display: flex;
    flex-direction: row;
}

.taglist input:checked + label dd code {
    display: none;
}

.taglist input:checked + label dd span {
    display: block;
    background-color: $graph-grey;
    height: 12px;
    margin-top: 6px;
    border: 1px solid $graph-grey;
}

.taglist input:checked + label dd.first span {
    background-color: $winner-green;
}

.taglist input:checked + label dd.second span {
    background-color: $second-yellow;
}

.taglist input:checked + label dd data {
    display: block;
    float: left;
    padding: 0px;
    padding-left: 2px;
    font-size: 90%;
}
.taglist input:checked + label dd data::after {
    content: '%'
}

.commentary h2 {
    margin-top: 1em;
    font-size: 140%;
}

.commentary h2::before {
    font-family: monospace;
    content: '<!-- ';
}
.commentary h2::after {
    font-family: monospace;
    content: ' -->';
}

.commentary h3 {
    border-style: dashed;
    border-width: 1px 0px 0px 0px;
    padding-top: 1em;
    font-size: 115%;
}
.commentary h3:not(:last-child) {
    margin-bottom: 0.5em;
}
.commentary ul {
    margin-bottom: 1.5em;
    display: table;
    width: 100%;
}
.commentary ul li {
    display: table-row;
    border-collapse: collapse;
}
.commentary ul li details {    
    border: 1px solid $body-black;
    border-bottom: 0px;
    border-collapse: collapse;
    padding: 0px 8px 3px 8px;
}
.commentary ul li:last-child details {
    border-bottom: 1px solid $body-black;
}
.commentary details p {
    margin-bottom: 0px;
}
.commentary details summary {
    padding: 3px 12px;
    margin-left: -8px;
    margin-right: -8px;
    padding-top: 5px;
}
.commentary details summary code {
    color: $body-black;
}
.commentary details[open] summary {
    border-bottom: 1px solid $body-black;
    background-color: $open-grey;
    padding-bottom: 4px;
}
.commentary details[open] p {
    padding: 8px 5px;
}
.actual-list {
    list-style: disc;
    list-style-position: inside;
}
.actual-list li:not(:last-child) {
    margin-bottom: 0.2em;
}

.finals {
    border: 1px solid $grid-border;
    padding: 10px 12px;
}
.finals dt {
    text-transform: uppercase;
    font-size: 90%;
    margin-bottom: 7px;
    font-weight: bold;
}
.finals dd {
    margin-bottom: 5px;
}
.finals code {
    display: inline-block;
    border: 1px solid $graph-grey;
    color: $body-black;
    padding: 3px 10px;
}
.finals .first code {
    background-color: $winner-green;
    width: 82%;
}
.finals .second code {
    background-color: $second-yellow;
    width: 52%;
}
.finals .third code {
    background-color: $graph-grey;
    width: 40%;
}
.finals .fourth code {
    background-color: $graph-grey;
    width: 30%;
}

.championship .first code {
    width: 78%;
}
.championship .second code {
    width: 29%;
}

#winner {
    margin-top: 1.5em;
    color: #fff;
    background-color: $border-blue;
    padding: 20px 30px;
    margin-left: -24px;
    margin-right: -24px;
}
#winner marquee {
    margin-left: -30px;
    margin-right: -30px;
    text-transform: uppercase;
}
#winner marquee h2 {
    color: #fff;
    font-size: 100%;
}
#trophy {
    text-align: center;
    font-size: 600%;
}
#trophy code {
    color: #fff;
    font-family: $title-fonts;
    font-weight: 100;
}
#winner code {
    color: #fff;
}

footer {
    font-family: $title-fonts;
    color: $border-blue;
    text-align: center;
    margin-bottom: 1em;
}
